/* Reset */
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Fonts */
@font-face {
    font-family: 'Gruenewald';
    src: url('./assets/fonts/Gruenewald\ VA\ normal.ttf');
}

@font-face {
    font-family: 'Olivetti2';
    src: url('./assets/fonts/Olivetti\ Type2.ttf');
}

/*-----*/

body {
    display: flex;
    flex-direction: column;
}

/* Nav bar */
nav {
    height: 80px;
    padding: 20px 30px;
    background-color: darkgray;
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}

nav h1 {
    font-size: xx-large;
    font-family: 'Gruenewald';
    margin-left: 10px;
}

nav button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 0.5em;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav button:hover {
    background-color: ghostwhite;
}

nav button:active {
    background-color: white;
}

/* Modal */
dialog {
    font-family: 'Courier New', Courier, monospace;
    height: 400px;
    width: 400px;
    margin: auto;
}

/* Books container */
.books {
    padding: 30px;
    min-height: calc(100vh - 120px);
    background-color: black;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

/* Book */
.book {
    position: relative;
    height: 200px;
    padding: 20px;
    padding-right: 35px;
    background-color: ghostwhite;
    border: none;
    border-radius: 10px;
    display: flex;
}

.book .btn {
    position: absolute;
    right: 5px;
    height: 1.5em;
    width: auto;
    cursor: pointer;
}

.book .close {
    top: 5px;
}

.book .read {
    bottom: 5px;
}

.book ul {
    font-family: 'Olivetti2';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book li {
    list-style: none;
}

.book .title {
    font-size: x-large;
    font-weight: bold;
}

/*Footer*/
footer {
    height: 40px;
    display: flex;
    background-color: darkgray;
}

footer p {
    margin: auto;
    text-align: center;
    font-size: 14px;
    display: flex;
}

footer img {
    height: 1.1em;
    width: auto;
    margin: 0 2px;
}