/* Reset */
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/*-----*/

body {
    display: flex;
    flex-direction: column;
}

/* Nav bar */
nav {
    height: 80px;
    padding: 20px 30px;
    background-color: darkgray;
    display: flex;
    align-items: center;
}

nav h1 {
    font-size: xx-large;
}

nav button {
    padding: 0.5em;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Modal */
dialog {
    height: 400px;
    width: 400px;
    margin: auto;
}

/* Books container */
.books {
    padding: 30px;
    min-height: calc(100vh - 120px);
    background-color: black;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

/* Book */
.book {
    height: 200px;
    padding: 20px;
    background-color: ghostwhite;
    border: none;
    border-radius: 10px;
    display: flex;
}

.book ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book li {
    list-style: none;
}

.book .title {
    font-size: x-large;
    font-weight: bold;
}

/*Footer*/
footer {
    height: 40px;
    display: flex;
    background-color: darkgray;
}

footer p {
    margin: auto;
    text-align: center;
    font-size: 14px;
    display: flex;
}

footer img {
    height: 1.1em;
    width: auto;
    margin: 0 2px;
}