/* RESET */
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* FONTS */
@font-face {
    font-family: 'Gruenewald';
    src: url('./assets/fonts/Gruenewald\ VA\ normal.ttf');
}

@font-face {
    font-family: 'Olivetti2';
    src: url('./assets/fonts/Olivetti\ Type2.ttf');
}

/*-----*/

body {
    display: flex;
    flex-direction: column;
}

/* NAV BAR */
nav {
    height: 80px;
    padding: 20px 30px;
    background-color: darkgray;
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}

nav h1 {
    font-size: xx-large;
    font-family: 'Gruenewald';
    margin-left: 10px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 0.5em;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav button:hover {
    background-color: ghostwhite;
}

nav button:active {
    background-color: white;
}

/* MODAL */
dialog {
    font-family: 'Courier New', Courier, monospace;
    height: 400px;
    width: 400px;
    margin: auto;
    border: 2px solid darkgray;
    border-radius: 10px;
    padding: 30px;
    background-color: ghostwhite;
}

dialog::backdrop {
    backdrop-filter: blur(4px);
}

/* Form */
form {
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

form p:first-child {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

form p + p label {
    padding-left: 6px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

form p + p input {
    font-family: 'Courier New', Courier, monospace;
    padding: 4px;
    font-size: medium;
}

form input {
    outline-color: gray;
}

fieldset {
    padding: 8px 4px;
}

.form-buttons {
    place-self: end center;
}

.form-buttons button {
    margin: 0;
    background-color: gray;
}

.form-buttons button:hover {
    background-color: darkgray;
}

/* BOOKS CONTAINER */
.books {
    padding: 30px;
    min-height: calc(100vh - 120px);
    background-color: black;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

/* BOOK */
.book {
    position: relative;
    height: 210px;
    padding: 25px 35px 25px 20px;
    background-color: ghostwhite;
    border: none;
    border-radius: 10px;
    display: flex;
}

.book ul {
    width: 100%;
    font-family: 'Olivetti2';
    display: grid;
    grid-template-rows: 35% 25% 10% 10%;
    align-content: space-between;
}

.book li {
    list-style: none;
}

.title {
    font-size: x-large;
    font-weight: bold;
    margin-top: -10px;
}

.title + li {
    filter: drop-shadow(0 0 1px gray);
}

/* Close and Read buttons */
.btn {
    position: absolute;
    right: 6px;
    height: 1.5em;
    width: auto;
    cursor: pointer;
}

.close {
    top: 6px;
}

.read {
    bottom: 6px;
}

.book .yes {
    filter: drop-shadow(0 0 1px rgba(0, 255, 0, 0.75));
}

.book .no {
    filter: drop-shadow(0 0 1px rgba(255, 0, 0, 0.75));
}

/* FOOTER */
footer {
    height: 40px;
    display: flex;
    background-color: darkgray;
}

footer p {
    margin: auto;
    text-align: center;
    font-size: 14px;
    display: flex;
}

footer img {
    height: 1.1em;
    width: auto;
    margin: 0 2px;
}